@use "index"; 

#homepage {
    @include index.display;
    background-color: #ffb5a7;
    text-align: center;
    padding: 3rem .5rem;
    h1 {
        font-size: 80px;
        margin: 0;
    }
    h2 {
        font-size: 60px;
        color: index.$primary-color;
        font-weight: lighter;
    }
    div {
        @include index.boxLayout(index.$primary-color);
        width: 100%;
        padding: 2rem .5rem;
        box-shadow: 10px 10px index.$primary-color;
        background-color: #FCD5CE;
    }
}

@media only screen and (min-width: index.$breakpoint-md) {
    #homepage {
        padding: 3rem;
        h1 {
            font-size: 120px;
        }
        h2 {
            font-size: 80px;
        }
        div {
            padding: 2rem 2rem 0 2rem;
        }
    }
}


@media only screen and (min-width: index.$breakpoint-lg) {
    #homepage {
        padding: 8rem 3rem;
        h1 {
            font-size: 140px;
        }
        h2 {
            font-size: 90px;
            padding-top: 1rem;
            margin: 0;
        }
        div {
            padding-bottom: 2rem;
        }
    }

}
